@import "tailwindcss";

@theme {
  --color-primary-50: #fdf8f6;
  --color-primary-100: #f2e8e5;
  --color-primary-200: #eaddd7;
  --color-primary-300: #e0cec7;
  --color-primary-400: #d2bab0;
  --color-primary-500: #a0522d;
  --color-primary-600: #8b4513;
  --color-primary-700: #6b3e2e;
  --color-primary-800: #5c3a21;
  --color-primary-900: #442b10;
  
  --color-background: #fafaf9;
  --color-surface: #ffffff;
  --color-text-main: #1c1917;
  --color-text-muted: #78716c;
}

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text-main);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
